{% load static %}
{% block scripts %}
<!-- jQuery -->
<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'vendors/fastclick/lib/fastclick.js' %}"></script>
<!-- NProgress -->
<script src="{% static 'vendors/nprogress/nprogress.js' %}"></script>
<!-- Chart.js -->
<script src="{% static 'vendors/Chart.js/dist/Chart.min.js' %}"></script>
<!-- gauge.js -->
<script src="{% static 'vendors/gauge.js/dist/gauge.min.js' %}"></script>
<!-- bootstrap-progressbar -->
<script src="{% static 'vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
<!-- iCheck -->
<script src="{% static 'vendors/iCheck/icheck.min.js' %}"></script>
<!-- Skycons -->
<script src="{% static 'vendors/skycons/skycons.js' %}"></script>
<!-- Flot -->
<script src="{% static 'vendors/Flot/jquery.flot.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.time.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.stack.js' %}"></script>
<script src="{% static 'vendors/Flot/jquery.flot.resize.js' %}"></script>
<!-- Flot plugins -->
<script src="{% static 'vendors/flot.orderbars/js/jquery.flot.orderBars.js' %}"></script>
<script src="{% static 'vendors/flot-spline/js/jquery.flot.spline.min.js' %}"></script>
<script src="{% static 'vendors/flot.curvedlines/curvedLines.js' %}"></script>
<!-- DateJS -->
<script src="{% static 'vendors/DateJS/build/date.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<!-- bootstrap-daterangepicker -->
<script src="{% static 'vendors/moment/min/moment.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<!-- Select2 -->
<script src="{% static 'vendors/select2/dist/js/select2.full.min.js' %}"></script>
<!-- Custom Theme Scripts -->
<script src="{% static 'build/js/toastr.min.js' %}"></script>
<script src="{% static 'app/js/common.js' %}"></script>
<!-- sweetalert -->
<script src="{% static 'build/js/sweetalert.min.js' %}"></script>

 <!-- Single page application -->
 <script src="{% static 'app/js/angular.min.js' %}"></script>
 <script src="{% static 'app/js/anglar-ruter.js' %}"></script>
 <script src="{% static 'app/js/ngStorage.min.js' %}"></script>
 <script src="{% static 'app/js/app.js' %}"></script>
 <script src="{% static 'app/js/dirPagination.js' %}"></script>
 <script src="{% static 'build/js/custom.js' %}"></script>
 <script src="{% static 'app/spa/category/categoryController.js' %}"></script>
 <script src="{% static 'app/spa/dashboard/dashboardController.js' %}"></script>
 <script src="{% static 'app/spa/product/productController.js' %}"></script>
 <script src="{% static 'app/spa/payment/paymentController.js' %}"></script>
 <script src="{% static 'app/spa/sell/sellController.js' %}"></script>
 <script src="{% static 'app/spa/stockin/stockinController.js' %}"></script>
 <script src="{% static 'app/spa/vendor/vendorController.js' %}"></script>
 <script src="{% static 'app/spa/users/userController.js' %}"></script>
 <script src="{% static 'app/spa/auth/loginController.js' %}"></script>

 <!-- zingchart -->
<script src="{% static 'build/js/zingchart.min.js' %}"></script>
<script src="{% static 'build/js/zingchart-angularjs.js' %}"></script>
{% endblock %}