<div class="well" style="margin-top:50px; background:#fff; color:#666">
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ pageTitle }}</h2>
        </div>
        <div class="col-lg-6 text-right">
            <a href="/">Dashboard</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <button class="btn btn-success" data-toggle="modal" data-target="#ProductModel" data-backdrop="static", data-keyboard="false"><b>+</b> Add product</button>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-8"></div>
            <div class="col-lg-4">
                <input type="text" class="form-control" ng-model="searchPoduct" placeholder="search Product">
            </div>
        </div>
    </div>
</div>
<br/>

<div class="row">
    <div class="col-lg-12">
        <div class="x_content" style="background:#fff;padding-top:30px;">
            <table style="margin-bottom:0" class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Brand Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Create Date</th>
                        <th style="text-align:center" scope="col">Details</th>
                        <th style="text-align:center" scope="col">Update</th>
                        <th style="text-align:center" scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="product in productList | filter: searchPoduct | orderBy:'-id' | itemsPerPage: 8">
                        <td>{{ product.product_name }}</td>
                        <td>{{ product.category_name }}</td>
                        <td>{{ product.brand_name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.create_at }}</td>
                        <th style="text-align:center"><button class="btn btn-success" ng-click="detailpage()" ><i class="fa fa-link"></i></button>
                        </th>
                        <th style="text-align:center"><button class="btn btn-success" data-toggle="modal" data-target="#updateBtn" data-backdrop="static", data-keyboard="false" ng-click="currentItem(product)"><i class="fa fa-edit"></i></button>
                        </th>
                        <th style="text-align:center"><button ng-click="deleteItem(product.id)" class="btn btn-danger" ><i class="fa fa-trash"></i></button>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <dir-pagination-controls> </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div style="margin-top:100px;" class="modal fade" id="ProductModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="validFrom1" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" ng-model="product_name" placeholder="Product Name" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <input type="number" ng-model="price" placeholder="Product Price" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <input ng-model="brand_name" type="text" placeholder="Product Brand Name" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="image" placeholder="Product Image Url" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <span>Select Category</span>
                        <select ng-model="category_name.name" class="form-control">
                            <option ng-repeat="catOption in categoryList" value="{{ catOption.id }}">{{ catOption.name }}</option>
                        </select>
                    </div>
                    <textarea ng-model="description" class="resizable_textarea form-control" placeholder="Short Description" required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" ng-disabled="validFrom1.$invalid" ng-click="addNewProduct()" class="btn btn-success" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- update modal box -->
<div style="margin-top:100px;" class="modal fade" id="updateBtn" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form name="validFrom2">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="hidden" name="pId" ng-model="id">
                            <input type="text" ng-model="updateItems.product_name" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <input type="number" ng-model="updateItems.price" class="form-control" required/>
                        </div>
                        <div class="form-group">
                            <input ng-model="updateItems.brand_name" type="text" class="form-control" required />
                        </div>
                        <div class="form-group">
                                <input type="text" ng-model="updateItems.image" class="form-control" required/>
                            </div>
                        <div class="form-group">
                            <span>Select Category</span>
                            <select ng-model="updateItems.category_name" class="form-control">
                                <option ng-repeat="catOption in categoryList" value="{{ catOption.id }}">{{ catOption.name }}</option>
                            </select>
                        </div>
                        <textarea ng-model="updateItems.description" class="resizable_textarea form-control" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" ng-disabled="validFrom2.$invalid" ng-click="updateProduct(id)" class="btn btn-success" data-dismiss="modal">update</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>